.main-title {
    margin-top: 80px;
    margin-bottom: 38px;

    h2 {
        margin-bottom: 7px !important;
    }

    .no-indent {
        vertical-align: 0em !important;
    }
}

.terminal {
    margin-top: 38px;
    margin-bottom: 80px;
}